<!DOCTYPE html>
<html lang="es">
<head>
	<title>App</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script type="text/javascript" src="../js/cuestionarioViewModel.js"></script>
    <script type="text/javascript" src="../js/cuestionario.js"></script>
</head>
<body class="color-teal">
    <div class="wrapper margin-top" style="max-width:1400px;">
        <div class="row-padding" style="padding: 15px;">
            <div class="threefifth card-4 row-padding" style="background-color: rgba(21,26,31,0.9);">
                <hr>
                <center><h2 style="font-weight: bold;" class="text-white">Cuestionario sobre tipos de aprendizaje</h2></center>
                <form action="javascript:sendAnswers()">
                    <div class="row-padding" style="background-color: rgba(21,26,31,0.9); max-height: 50px;">
                    <p>Codigo: <input type="text"  placeholder="211111111" data-bind="textInput: codigo"></p>
                    </div>
                    
                    <div data-bind="foreach: preguntas">
                        <p data-bind="text: $data"></p>
                        <input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="1">Nunca</input>
                        <input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="2">Raramente</input>
                        <input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="3">Ocasionalmente</input>
                        <input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="4">Usualmente</input>
                        <input type="radio" data-bind="attr: {name: 'respuesta' + $index()}" value="5">Siempre</input>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary">
                </form>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>