<!DOCTYPE html>
<html lang="es">
<head>
	<title>App</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    
</head>
<body class="color-teal">
    <div class="wrapper margin-top" style="max-width:1400px;">
        <div class="row-padding" style="padding: 15px;">
            <div class="threefifth card-4 row-padding" style="background-color: rgba(21,26,31,0.9);">
                <hr>
                <center><h2 style="font-weight: bold;" class="text-white">Datos Guardados con exito</h2></center>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>